<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <title>Wish List Keeper</title>
    {{! stylesheet pathways do not need /public/ because it is defined in server.js, line 48 }}
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <div id='headerNav'>
      <header>
        <h1>
          Track Your Wish List's!
        </h1>
        <nav>
          {{! conditional rendering for login or log out }}
          {{#if logged_in}}
            <a href='/profile'>profile</a>
            |
            <button class='no-button' id='logout'>logout</button>
          {{else}}
            <a href='/login'>login</a>
          {{/if}}
        </nav>
      </header>

      <main>
        {{! render content }}
        {{{body}}}
      </main>
      <footer>
        Created by Alexander Lazar, Elizabeth Larson, Francis Aguinaldo, Shang
        Celsius, and Zane Pisano, 2022
      </footer>
    </div>

    {{! logout link for when user is logged in }}
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
    <script
      src='https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js'
    ></script>
    <script>
      function addDarkmodeWidget() { new Darkmode().showWidget(); }
      window.addEventListener('load', addDarkmodeWidget);
    </script>
<<<<<<< HEAD
    <script
      type='text/javascript'
      src='node_modules/accessibility/dist/accessibility.min.js'
    ></script>
=======
>>>>>>> fd1667b (fixing small errors with various files and npm packages)
  </body>
</html>