<div class='' id='greeting'>
  <h2>Welcome!</h2>
  <br />
  <h2>
    <p>Are you tired of forgetting what fun things you'd like to buy from your
      favorite stores?</p>
    <p> Do you have gift cards piling up with unknown balances?</p>
    <p>We're here to help!</p>
  </h2>
  <br />
  <h2>
    Keep your wish lists saved from stores like:
  </h2>
  <ul>
    <li>Nike</li>
    <li>REI</li>
    <li>Bass Pro Shop</li>
    <li>HomeGoods</li>
  </ul>
  <br />
  <h2>Log in or sign up TODAY!</h2>
</div>
<div>
  <img
    src='/Assets/shoppingpic.jpg'
    alt='computer with mini shopping card beside it, filled with cash'
  />
</div>