{{!-- <div class='' id='greeting'>
  <h2>Welcome!</h2>
  <br />
  <h2>
    <p>Are you tired of forgetting what fun things you'd like to buy from your
      favorite stores?</p>
    <p> Do you have gift cards piling up with unknown balances?</p>
    <p>We're here to help!</p>
  </h2>
  <br />
  <h2>
    Keep your wish lists saved from stores like:
  </h2>
  <ul>
    <li>Nike</li>
    <li>REI</li>
    <li>Bass Pro Shop</li>
    <li>HomeGoods</li>
  </ul>
  <br />
  <h2>Log in or sign up TODAY!</h2>
</div>
<div>
  <img
    src='https://images.pexels.com/photos/5632379/pexels-photo-5632379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
    alt='computer with mini shopping card beside it, filled with cash'
  />
</div> --}}
{{!-- 
    <h1>Are you tired of forgetting what fun things you'd like to buy from your
      favorite stores?</h1>
    <h1>Do you have gift cards piling up with unknown balances?</h1>
    <h1>We're here to help!</h1> --}}

 <div class="container">
  <div class="row">
    <div class="col">
      <h1>Are you tired of forgetting what fun things you'd like to buy from your
      favorite stores?</h1>
      <h1>Do you have gift cards piling up with unknown balances?</h1>
      <h1>We're here to help!</h1>
      <br />
      <br />
      <br />
      <br />
      <h2>Keep your wish lists saved from stores like:</h2>
  <ul>
    <li>Nike</li>
    <li>REI</li>
    <li>Bass Pro Shop</li>
    <li>HomeGoods</li>
  </ul>
    </div>
    <div class="col">
        <img
    src='https://images.pexels.com/photos/5632379/pexels-photo-5632379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
    alt='computer with mini shopping card beside it, filled with cash'
  />
  </div>
</div> 