<div>
  <div>
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>


  <div>
    <button id='new-store-btn' >Add a new store!</button>
  </div>
      <form class='form new-store-form' id="newStoreForm">
        <div class='form-group'>
          <label for='store-name' id="store">Store Name:</label>
          <input
            class='form-input'
            type='text'
            id='store-name'
            name='store-name'
          />
        </div>
        {{!-- <div class = 'form-group'>
          <label for="has-giftcard">Do you have a giftcard for this store?</label>
          <button name="yes-button" id="yes-button" onclick="balanceInput()">Yes</button>
          <button name="no-button" id="no-button" onclick = 'stayHidden()'>No</button>
        </div> --}}
        <div class="form-group" id="giftcard-balance">
          <label>Giftcard Balance:</label>
          <input class="form-input" type="number" id="giftcard-balance" name="gc-bal" message="if no giftcard, enter 0">
        </div>
        <div class="form-group" id="items">
          <label>Add an item:</label>
          <input class="form-input" type="text" id="item" name="item">
        </div>
        <div class='form-group'>
          <div class='form-group'>
            <button type='' class=''>Add another item</button>
          </div>
          <div class='form-group'>
            <button type='submit' class=''>Save</button>
          </div>
      </form>

  {{#if stores.length}}
  <div class='store-list'>
    <h3>Your Saved Stores:</h3>

    {{#each stores as |store|}}
      <div>
        <div class=''>
          <h4><a href='/store/{{store.id}}'>{{store.name}}</a></h4>
        </div>
        <div class=''>
          <button class='btn btn-sm btn-danger' data-id='{{store.id}}'>Delete
            this store</button>
        </div>
      </div>
    {{/each}}
  </div>
  {{/if}}



{{!-- <script src='/js/'></script> --}}
<script src="/js/form.js"></script>
<script src="/js/profile2.js"></script>