<<<<<<< HEAD
<div>
  <div>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div>
  <div>
    <h3>Add a new store and wish list!</h3>

    <form class='form new-store-form'>
      <div class='form-group'>
        <label for='store-name'>Store Name:</label>
        <input
          class='form-input'
          type='text'
          id='store-name'
          name='store-name'
        />
      </div>
      <div class='form-group'>
        <p>
          <label for='store-giftcard'>Do you have a gift card for this store?</label></p>
        <input
          class='form-input'
          type='radio'
          id='yes-giftcard'
          name='store-giftcard'
          value='Yes'
        />
        <label for='yes-giftcard'>Yes</label>
        <input
          class='form-input'
          type='radio'
          id='no-giftcard'
          name='store-giftcard'
          value='Yes'
        />
        <label for='no-giftcard'>No</label>
      </div>
      <div class='form-group'>
        <label for='wishlist'>Wish List Items:</label>
        <input
          class='form-input'
          type='text'
          id='wishlist-items'
          name='wishlist-items'
        />
        <div class='form-group'>
          <button type='' class=''>Add another item</button>
        </div>
        <div class='form-group'>
          <button type='submit' class=''>Save</button>
        </div>
      </div>
    </form>
  </div>
<<<<<<< HEAD
</div>
=======

  <div class='store-list'>
    <h3>Your Saved Stores:</h3>

    {{#each stores as |store|}}
      <div>
        <div class=''>
          <h4><a href='/store/{{store.id}}'>{{store.name}}</a></h4>
        </div>
        <div class=''>
          <button class='btn btn-sm btn-danger' data-id='{{store.id}}'>Delete
            this store</button>
        </div>
      </div>
    {{/each}}
  </div>

</div>

<script src='/public/js/'></script>
<<<<<<< HEAD
>>>>>>> 625fe78 (some seeds data, starting README)
=======
=======

>>>>>>> ccf6591 (Initial commit, file structure test)
>>>>>>> 84073ad (Initial commit, file structure test)
